.jsonEditorContainer {
  &__textAreaContainer {
    display: flex;
    width: 100%;
    gap: 50px;
  }

  &__editorSection {
    flex: 1;
  }

  &__renderSection {
    flex: 1;
  }

  &__textArea {
    font-family: monospace;
    width: 100%;
    height: 300px;
  }

  &__submissionSection {
    display: flex;
  }

  &__formDataPart {
    flex: 1;
  }

  &__resultPart {
    flex: 1;
  }
}
